.viewport {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 60% 40%;
  row-gap: 15%;
  font-size: 24px;
}

img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  place-self: center;
  margin-left: calc(100% - 50%);

  border-radius: 20px;
}

a{
    font-size: larger;
}

h1 {
    margin-top: 0px;
}



ul {
  list-style: none;
  text-align: end;
}


p {
    padding-left: 25px;
}