#src-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

body {
  margin: unset;
 }

:root {
  background-color: #00000aF2;
  --primary: rgba(255, 45, 45, 0.75);
  color: white;
  font-size: 24px;
}

a {
  color: rgba(45, 255, 211, 0.75);
}

select {
  background-color: #00000aF2;
  color: white;
  width: 120px;
  border-color: #fffffff2;
  border: 1px groove;
  border-radius: 5px;
  font-size: 24px;
}

select:open {
  background-color: #00000aF2;
}