#src-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#root {
  padding: 10%;
  padding-bottom: 0px;
}

body {
  margin: unset;
}

:root {
  background-color: #00000af2;
  --primary: rgba(255, 45, 45, 0.75);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

a {
  color: rgba(45, 255, 211, 0.75);
}

a:hover {
  color: var(--primary);
}

select {
  background-color: #00000af2;
  color: white;
  width: 120px;
  border-color: #fffffff2;
  border: 1px groove;
  border-radius: 5px;
  font-size: 24px;
}

select:open {
  background-color: #00000af2;
}
